<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/main.css" media="screen">
  <script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
</head>
<div id="timetable" name="timetable">
  <select id="period" name="period" onChange="inputItems();">
    <option value="0" selected>時間を指定しください</option>
    <option value="1">1時間</option>
    <option value="2">2時間</option>
    <option value="3">3時間</option>
    <option value="4">4時間</option>
    <option value="5">5時間</option>
	  <option value="6">6時間</option>
  </select>
  <input type="button" value="PDF出力" onclick="downloadPDF();">
  <input type="button" value="バックアップファイル出力" onclick="downloadBackupFile();">
  <input type="file" id="readfile" value="バックアップファイル読み込み" onclick="readBackupFile();">
</div>
<script type="text/javascript">
  var readfile = document.getElementById("readfile");
  readfile.addEventListener("change", function(evt) {
    readBackupFile(evt);
  },false);

  function inputItems() {
    var obj = document.getElementById("period");
    var index = obj.selectedIndex;
    var form = document.getElementById("timetable");
    for (var i = 1; i <= index; i++) {
      var div = document.createElement("div");
      div.setAttribute("id", "timePeriod" + i);
      var p = document.createElement("p");
      p.textContent = i; 
      div.appendChild(p);
      var ul = document.createElement("ul");
      ul.setAttribute("id", "dayofweek" + i);
      for (var j = 0; j < 5; j++) {
        var li = document.createElement("li");
        var label = document.createElement("label");
        var dayofweek = changeDayOfWeek(j);
        label.innerHTML = dayofweek;
        var input = document.createElement("input");
        input.setAttribute("type", "text");
        input.setAttribute("name", dayofweek);
        input.setAttribute("value","");
        label.appendChild(input);
        li.appendChild(label);
        ul.appendChild(li);
      }
      div.appendChild(ul);
      form.appendChild(div);
    }
  }

  function changeDayOfWeek(i) {
    var dayofweek = "";
    if (i == 0) {
      dayofweek = "mon";
    }else if (i == 1) {
      dayofweek = "tue";
    }else if (i == 2) {
      dayofweek = "wed";
    }else if (i == 3) {
      dayofweek = "thu";
    }else if (i == 4) {
      dayofweek = "fri";
    }
    return dayofweek;
  }

  function downloadPDF() {
    var records = getPostData();
    $.ajax({
      type: "POST",
      url: "/output_pdf",
      data: {
        records: records,
      },
      dataType: 'html'
    }).done(function(res) {
      location.href = "/download/" + res
    }).fail(function(res) {
      alert("error");
    });
  }

  function downloadBackupFile() {
    var records = getPostData();
    $.ajax({
      type: "POST",
      url: "/output_backupfile",
      data: {
        records: records,
      },
      dataType: 'html'
    }).done(function(res) {
      location.href = "/download/" + res
    }).fail(function(res) {
      alert("error");
    });
  }

  function readBackupFile(evt) {
    var file = evt.target.files;
    var reader = new FileReader();
    reader.readAsText(file[0]);
    reader.onload = function(ev) {
      var csvRecords = reader.result.split(/\s/);
      var period = document.getElementById("period");
      period.selectedIndex = csvRecords.length-1;//最後は、改行のみなのでカウントしない
      inputItems();
      for (var i=0; i <csvRecords.length-1; i++) {
        var csv = csvRecords[i];
        var record = csv.split(',');
        var j = i +1;
        var ul = document.getElementById("dayofweek" + j);
        var lis = ul.children;
        for (var column =0; column < lis.length; column++) {
          var li = lis[column];
          var input = li.getElementsByTagName('input');
          if (record[column] === "\"\"") continue;//未入力のものは、復元しない
          input[0].value = record[column];
        }
      }
    }
  }

  function getPostData() {
    var select = document.getElementById("period");
    var index = select.selectedIndex;
    var timeTable = []; 
    for (var i = 1; i <= index; i++) {
      var ul = document.getElementById("dayofweek" + i);
      var lis = ul.children;
      var dayofweeks = [];
      for (var j = 0; j < lis.length; j++) {
         var li = lis[j];
         var dayofweek = changeDayOfWeek(j);
         var input = li.getElementsByTagName('input');
         dayofweeks[j] = input[0].value;
      }
      timeTable[i-1] = dayofweeks;
    }
    var records = JSON.stringify(timeTable);
    return records
  }
</script>
</html>