<form action="/output_pdf" method="GET">
  <select id="time" name="time">
    <option value="1">1時間</option>
    <option value="2">2時間</option>
    <option value="3">3時間</option>
    <option value="4">4時間</option>
    <option value="5">5時間</option>
	  <option value="6">6時間</option>
  </select>
  <input type="submit" value="PDF出力">
</form>